.background-apod{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.apod-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.apod-card {
    background: #19426ab7;
    width: 50%;
    padding: 40px;
    color: white; 
    margin: 100px; 
}

.apod-card h1 {
    font-family: "Anton", sans-serif;
    font-size:3rem; 
    text-transform: uppercase;
    padding-bottom: 15px;
}

.apod-card p {
    line-height: 24px;
    font-size: 14px;
}