.crew-page {
  text-align: center;
  background: black;
  background-image: url("../assests/andy-holmes-rCbdp8VCYhQ-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}

.crew-page h1 {
  color: white;
  padding-top: 60px;
}

.crew-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.crew-cards {
  width: 90%;
  background: rgba(255, 255, 255, 0.728);
  margin: 20px;
  padding: 20px 20px;
  border-radius: 15px;
  position: relative;
  animation: mymove 5s;
}

@keyframes mymove {
  from {
    right: -300px;
  }
  to {
    left: 0px;
  }
}

.crew-cards img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

.crew-cards i {
  font-size: 2rem;
  padding: 20px 10px;
  color: black;
}

.crew-cards p {
  padding: 40px;
  font-size: 0.9rem;
}
