.crew-page {
  text-align: center;
  background: black;
  background-image: url("../assests/crew/andy-holmes-rCbdp8VCYhQ-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
}

.crew-page h1 {
  color: white;
  padding-top: 60px;
}

.crew-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 50px;
}

.crew-cards {
  width: 70%;
  background: rgba(255, 255, 255, 0.728);
  margin: 40px;
  padding: 20px 20px;
  border-radius: 15px;
}

.crew-cards:hover {
  box-shadow: 10px 10px 23px 1px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: 10px 10px 23px 1px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 10px 10px 23px 1px rgba(0, 0, 0, 0.33);
}

.crew-cards img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
}

.crew-cards i {
  font-size: 2rem;
  padding: 20px 10px;
  color: black;
}

.crew-cards i:hover {
  font-size: 2.2rem;
  padding: 20px 10px;
  color: black;
}

.crew-cards p {
  padding: 20px 40px;
  font-size: 0.9rem;
}

@media screen and (min-width: 960px) {
  .crew-container {
    flex-direction: row;
  }
}
