.dropdown-menu {
    width: 100%;
    text-align: center; 
    position: absolute;
    list-style-type: none;
    display: block;
}

.dropdown-menu li {
    background: #1888ff; 
    cursor: pointer;
}

.dropdown-menu li:hover {
    background: #5cabff; 
}

.dropdown-menu.clicked {
    display: none;
}

.dropdown-link {
    display: block; 
    width: 100%; 
    height: 100%; 
    text-decoration: none;
    color: #fff;
    padding: 16px; 
}


@media screen and (min-width: 960px){
    .dropdown-menu{
        width : 200px;
        text-align: start; 
        top: 80px; 
    }

}

 


