
html {
    scroll-behavior: smooth;
  }
  
  .parallax-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: Montserrat, sans-serif;
    width: 100%;
    min-height: 100vh;
  }
  .react-player {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  
  .parallax-item h2 {
    font-size: 3rem;
    text-transform: uppercase;
    background-color: whitesmoke;
    padding: 1rem;
    border-radius: 1rem;
  }
  .parallax-item:first-child {
    background-image: url(/src/assests/bg2.jpg);
    background-size: cover;
  }
  .parallax-item:nth-child(2) {
    background: darkgrey;
  }
  
  .parallax-item:nth-child(3) {
    background-image: url(/src/assests/bg3.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* Parallax Effect for DIV 3 */
    min-height: 500px;
  }
  
  .parallax-item:nth-child(4) {
    background: darkcyan;
  }
  
  @media screen and (max-width: 768px) {
    .parallax-item h2 {
      font-size: 1.5rem;
    }
  }
  