.background-apod {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.apod-card {
  background: black;
  width: 100%;
  margin: auto;
  padding: 40px;
  color: white;
  position: relative;
  animation: apodcard 5s;
}
@keyframes apodcard {
  from {
    left: 300px;
  }
  to {
    left: 0px;
  }
}

.apod-card h1 {
  font-family: "Anton", sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
  padding-bottom: 15px;
  color: white;
}

.apod-card h4 {
  padding-bottom: 10px;
}

.apod-card p {
  line-height: 24px;
  font-size: 14px;
}

.image-mobile {
  width: 100%;
  padding: 15px 0;
}

@media screen and (min-width: 960px) {
  .image-mobile {
    display: none;
  }
  .apod-card {
    background: rgba(255, 255, 255, 0.728);
    width: 50%;
    height: auto;
    margin-right: 100px;
    border-radius: 15px;
    color: black;
  }
  .background-apod,
  .apod-container {
    height: 100vh;
  }

  .apod-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}
