.news {
    height: fit-content;
    width: 100%;
    background-color: #F5F5F5;
    display: flex;
    flex-wrap: wrap;
}

.newsCard {
    text-align: center;
    background-color: #ffff;
    padding: 2rem;
    width: 25rem;
    height: 17rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 5px 5px 18px -1px rgba(0, 0, 0, 0.45);

}

.newsCard button {
    background-color: #F5F5F5;
    width: 50%;
    padding: 0.5rem;
    border: 5px solid rgba(0, 0, 0, 0.702);
    font-size: 1.2rem;
    font-weight: 700;
}

.newsCard button:hover {
    background-color: rgba(0, 0, 0, 0.702);
    color: #F5F5F5;
    transition: 500ms;
}

.moreButton {
    width: 100%;
    padding: 1.5rem;
    margin: 5rem;
    background-color: #F5F5F5;
    font-size: 1.5rem;
    border: 5px solid rgba(0, 0, 0, 0.702);
    font-weight: 700;
}

.moreButton:hover {
    background-color: rgba(0, 0, 0, 0.702);
    color: #F5F5F5;
    transition: 500ms;
}