.solar-page {
  background-image: url("../../../assests/andy-holmes-rCbdp8VCYhQ-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  color: white;
  padding-top: 100px;
}

.solar-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.planet-card {
  margin: auto;
  text-align: left;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.planet-card h2 {
  font-family: "Anton", sans-serif;
  font-size: 4rem;
  letter-spacing: 0.1rem;
}

.planet-card img {
  width: 400px;
  margin-top: 200px;
}

.planet-card img.uranus {
  margin-top: 0;
}

.rotate {
  animation: rotation 10s;
}

.linear {
  animation-timing-function: linear;
}

.infinite {
  animation-iteration-count: infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.solar-buttons {
  cursor: pointer;
  background: none;
  border: none;
  padding: 10px;
  margin-top: 10px;
  color: white;
  text-transform: uppercase;
}

.solar-buttons:hover {
  text-decoration: underline;
}

.button-active {
  color: red;
}

@media screen and (min-width: 960px) {
  .solar-page {
    height: 1200px;
  }

  .planet-card {
    flex-direction: row;
    width: 60%;
  }
}
