.galaxy-background {
  /*width: 100vw;
  height: 100vh;
  background: black;
  background-image: radial-gradient(circle, white 1px, transparent 1px),
    radial-gradient(circle, white 2px, transparent 1px),
    radial-gradient(circle, white 1px, transparent 1px);
  background-size: 150px 150px;
  background-position: 10px 10px, 50px 125px, 125px 75px;*/
  background-image: url("../../../assests/bg-planets-glossary.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.planets-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.planets-btn-container {
  width: 60%;
  margin: auto;
}

.planets-buttons {
  font-family: "Anton", sans-serif;
  background: transparent;
  color: white;
  font-size: 1.2rem;
  padding: 5px;
  border: none;
}

.planets-buttons:hover {
  text-decoration: underline;
}

.planet-active {
  text-decoration: underline;
}

.planet-card {
  width: 50%;
  margin: auto;
}

.planet-card h2 {
  font-family: "Anton", sans-serif;
  font-size: 4rem;
  letter-spacing: 0.1rem;
}

.planet-img {
  width: 220px;
  padding: 10px 10px 70px 10px;
}

.planet-img {
  margin-bottom: 0;
}

.rotate {
  animation: rotation 10s;
}

.linear {
  animation-timing-function: linear;
}

.infinite {
  animation-iteration-count: infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media screen and (min-width: 960px) {
  .galaxy-background {
    justify-content: space-evenly;
  }
  .planets-container {
    flex-direction: row;
  }
  .planet-img {
    width: 400px;
    padding: 10px 10px 70px 10px;
  }
  .planet-infos {
    width: 50%;
  }

  .planet-card {
    width: 50%;
    margin: auto;
  }
}

/*

.solar-page {
  background-image: url("../../../assests/aditya-hafiz-syahputra-FD1inZ5mA-c-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
  color: white;

  display: flex;

  justify-content: center;
  align-items: center;
}



.solar-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.planet-infos {
  padding: 100px;
}

.planet-card {
  margin: auto;
  text-align: left;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.planet-card h2 {
  font-family: "Anton", sans-serif;
  font-size: 4rem;
  letter-spacing: 0.1rem;
}

img {
  width: 400px;
}

img.uranus {
  margin-top: 0;
}

.rotate {
  animation: rotation 10s;
}

.linear {
  animation-timing-function: linear;
}

.infinite {
  animation-iteration-count: infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.planet-btn-container {
  width: 60%;
  margin: auto;
}

.planets-buttons {
  cursor: pointer;
  background: none;
  border: none;
  padding: 5px;
  margin-top: 10px;
  color: white;
  text-transform: uppercase;
}

.planets-buttons:hover {
  text-decoration: underline;
}

.button-active {
  color: red;
}

@media screen and (min-width: 960px) {
  .solar-page {
    min-height: 100vh;
  }

  .planet-card {
    flex-direction: row;
    width: 60%;
  }
}
*/
